static-crawling/kin_answer.ipynb
static-crawling/kin_backup.html
kin.csv
kin.json
kin.xlsx
dynamic-crawling/finance_answer.py
dynamic-crawling/inspect_page.py
dynamic-crawling/market_cap.json

hw/hw1_aladin_answer.ipynb
hw/hw2_aladin_mcp_answer.py
hw/inspect_aladin.py
hw/aladin.csv

__pycache__/
*.pyc
.ipynb_checkpoints/

.playwright-mcp/